<div ng-controller="DemoController">
    <div class="row">
        <div class="col-md-3">
            <div class="box no-border no-shadow no-margin no-padding">

            </div>
        </div>
        <div class="col-md-3">
            <div class="box box-primary">

            </div>
        </div>
        <div class="col-md-3">
            <div class="box box-primary box-solid">

            </div>
        </div>
        <div class="col-md-3">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">应用</h3>

                    <div class="box-tools normal-width">
                        <div class="input-group">
                            <input type="text" name="table_search" ng-model="filter"
                                   class="form-control input-sm pull-right"
                                   ng-change="qryApps(1,filter);"
                                   placeholder="APP NAME">

                            <div class="input-group-btn">
                                <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-body table-responsive no-padding">

                </div>

                <div class="box-footer">

                </div>
                <div class="overlay">
                    <i class="fa fa-spinner fa-spin"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="box box-solid box-default">
                <div class="box-header with-border">
                    <div class="box-title">查询申购订单</div>
                </div>
                <div class="box-body query-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-group-inline">
                                <label>订单状态</label>
                                <select class="form-control" ng-model="orderStatus">
                                    <option ng-repeat="s in investStatuses" value="{{s.value}}"
                                            ng-selected="s.value==orderStatus">{{s.text}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div style="position: relative;top: -13px;">
                                <label class="group-label">订单时间</label>

                                <div style="width: 220px;display: inline-block;position: relative;top: 13px;">
                                    <div class='input-group date'
                                         my-date-time="{linkSelector:'#dtp1'}">
                                        <input type='text' class="form-control" ng-model="startDate"/>
                                        <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                    </div>
                                </div>
                                <label>&nbsp;&nbsp;
                                    至&nbsp;&nbsp;
                                </label>

                                <div style="width: 220px;display: inline-block;position:relative;top: 13px;">
                                    <div class='input-group date' my-date-time id="dtp1">
                                        <input type='text' class="form-control" ng-model="endDate"/>
                                        <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                    </div>
                                </div>
                                &nbsp;&nbsp;
                                <button class="btn btn-primary" ng-click="queryInvestRecords();">
                                    查询<i class="fa fa-spin fa-spinner" ng-show="loading.invest"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>